<!DOCTYPE html>
<html lang="en">
<head>
  <title>Property Reports</title>
  <link rel="stylesheet" href="/views/styles.css">
  <script src="https://kit.fontawesome.com/ee4df41a4c.js" crossorigin="anonymous"></script>
</head>
<body>
  <section class="section-wrapper">
      <button id="btn-login">Login <i class="fa-solid fa-right-to-bracket"></i> </button>
    <div class="content">
      <div class="content-left">
        <div class="part">
          <div class="title" id="part0">
            <span>
              +
            </span>
          </div>
          <div class="title" id="part1">
            <span>&nbsp;Property</span>
          </div>
        </div>
        <div class="title" id="part2">
          <span>Reports</span>
        </div>
        <div class="description">
          Discover homes for sale in your city and get detailed property reports.
        </div>
        <div class="buttons">
          <button id="btn-primary">Home Report &nbsp;<i class="fa-solid fa-book"></i></button>
          <button id="btn-secondary">Buy a Home &nbsp;<i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
      </div>

      <div class="content-right">
        <img src="/assets/lab-img.png" alt="Hero home image" class="hero-img">
      </div>
    </div>
  </section>
</body>
</html>
