/* latin-ext */
@font-face {
    font-family: 'Urbanist';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/urbanist/v15/L0x4DF02iFML4hGCyMqgXSFsjlC0V7q7Ag.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Urbanist';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/urbanist/v15/L0x4DF02iFML4hGCyMqgXS9sjlC0V7o.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/urbanist/v15/L0x-DF02iFML4hGCyMqrbS1miXK2Z7s.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/urbanist/v15/L0x-DF02iFML4hGCyMqlbS1miXK2.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* EXTRA LEARN */
  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px 80px;
  }
 /* EXTRA LEARN */

.section-wrapper {
    /* background: linear-gradient(#363537, #7C7C7C); */
    background-color: black;
    font-family:  'Urbanist';
    font-style: normal;
    font-weight: 500;
    font-size: 120px;
    overflow: hidden;
}

.title {
    color: #fff;
    font-size:140px;
    font-weight: bold;
}

.part {
    display: flex;
    flex-direction: row;
}

#part0 {
    color: #0874DE;
}

.description {
    color:#808080;
    font-size: 30px;
    margin-top: 40px;
    width: 750px;
    /* height: 50px;
    overflow: scroll; */
}

.hero-img{
    height: 400px;
    width: 600px;
    position: relative;
}

/* .hero-img1{
    height: 400px;
    width: 600px;
    position: relative;
    z-index: 1;
    bottom: 200px;
} */

.buttons > button {
    color: #fff;
    font-size: 18px;
}

#btn-login {
    background-color: #0874DE;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    position: fixed;      /* Show the difference between relative, fixed and absolute */
    right: 30px;
    top:20px;
    color: white;
    font-size: 18px;
    width: auto;
    /* width: 150px; */
    /* max-width: 50px; */
}

#btn-login:hover {
    transform: scale(1.1);
    /* transform: rotate(10deg);
    transform: skew(10deg);
    transform: translate(10px, 10px); */
}

#btn-primary {
    background-color: #0874DE;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
}

/* Selection by Attribute */
/* .buttons > button[lang='en']{
    background-color: #0874DE;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
}  
.buttons > button:not([lang='en']){
    background-color: #262626;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
}   */

#btn-secondary {
    background-color: #262626;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
}

#btn-primary:hover {
    cursor: pointer;
}  

#btn-primary:active {
    cursor: progress;
}  

/* Using :is selector */
/* #btn-primary:is(:hover, :active) {
    cursor: progress;
}   */

#btn-secondary:hover {
    cursor: pointer;
}   

@media (max-width: 480px) {
/* EXTRA LEARN */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10px 100px;
    width: 100%;
  }
 /* EXTRA LEARN */

.section-wrapper {
    background-color: black;
    font-family:  'Urbanist';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    overflow: scroll;
}
.content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    color: #fff;
    font-size:70px;
    font-weight: bold;
}

.part {
    display: flex;
    flex-direction: row;
}

#part0 {
    color: #0874DE;
}

.description {
    color:#808080;
    font-size: 15px;
    text-align: center;
}

.hero-img{
    height: 200px;
    width: 300px;
    position: relative;
    margin-top: 100px;
}


.buttons > button {
    color: #fff;
    font-size: 18px;
}

#btn-login {
    background-color: #0874DE;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    position: fixed;      /* Show the difference between relative, fixed and absolute */
    right: 30px;
    top:20px;
    color: white;
    font-size: 18px;
    width: auto;
}

#btn-login:hover {
    transform: scale(1.1);
}

#btn-primary {
    background-color: #0874DE;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
}

#btn-secondary {
    background-color: #262626;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
}

#btn-primary:hover {
    cursor: pointer;
}  

#btn-primary:active {
    cursor: progress;
}  


#btn-secondary:hover {
    cursor: pointer;
}   
    }